<!-- Projects -->
<div class="projects">
  <div class="text">
    <h2>PROJECTS</h2>
    <hr>
  </div>
  <div class="row" style="width:1200px;">
    <div class="col-lg-4">
      <div class="card h-100">
        <a href="https://family-clan.herokuapp.com/" target="_blank"><img src="/family.png" style="width:95%" alt=""></a>
        <div class="card-body">
          <h4 class="card-title">
            <a href="https://family-clan.herokuapp.com/" target="_blank" style="color: white;">FAMILY CLAN</a>
          </h4>
          <p class="card-text">We all come from families even if not all may have the privillage of knowing them. This is an a community where all the clans of the families are registered to everyone to view and update the members of members.</p>
        </div>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="card h-100">
        <a href="https://fought.herokuapp.com/" target="_blank"><img src="/foughts.png" style="width:95%" alt=""></a>
        <div class="card-body">
          <h4 class="card-title">
            <a href="https://fought.herokuapp.com/" target="_blank" style="color: white;">FOUGHTS.KE.</a>
          </h4>
          <p class="card-text">A platform for people to either join as a host or as a partyholic. A host has the ability to create an event with the number of tickets available. Partyholics are able to buy tickets to the events.</p>
        </div>
      </div>
    </div>
    <div class="col-lg-4 ">
      <div class="card h-100">
        <a href="https://fought.herokuapp.com/" target="_blank"><img src="/shoe.png" style="width:95%" alt=""></a>
        <div class="card-body">
          <h4 class="card-title">
            <a href="https://fought.herokuapp.com/" target="_blank" style="color: white;">FOUGHTS.KE.</a>
          </h4>
          <p class="card-text">A platform for people to either join as a host or as a partyholic. A host has the ability to create an event with the number of tickets available. Partyholics are able to buy tickets to the events.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-4 ">
      <div class="card h-100">
        <a href="https://fought.herokuapp.com/" target="_blank"><img src="/shoe.png" style="width:95%" alt=""></a>
        <div class="card-body">
          <h4 class="card-title">
            <a href="https://fought.herokuapp.com/" target="_blank" style="color: white;">FOUGHTS.KE.</a>
          </h4>
          <p class="card-text">A platform for people to either join as a host or as a partyholic. A host has the ability to create an event with the number of tickets available. Partyholics are able to buy tickets to the events.</p>
        </div>
      </div>
    </div>
    <div class="col-lg-4 ">
      <div class="card h-100">
        <a href="https://fought.herokuapp.com/" target="_blank"><img src="/shoe.png" style="width:95%" alt=""></a>
        <div class="card-body">
          <h4 class="card-title">
            <a href="https://fought.herokuapp.com/" target="_blank" style="color: white;">FOUGHTS.KE.</a>
          </h4>
          <p class="card-text">A platform for people to either join as a host or as a partyholic. A host has the ability to create an event with the number of tickets available. Partyholics are able to buy tickets to the events.</p>
        </div>
      </div>
    </div>
    <div class="col-lg-4 ">
      <div class="card h-100">
        <a href="https://fought.herokuapp.com/" target="_blank"><img src="/shoe.png" style="width:95%" alt=""></a>
        <div class="card-body">
          <h4 class="card-title">
            <a href="https://fought.herokuapp.com/" target="_blank" style="color: white;">FOUGHTS.KE.</a>
          </h4>
          <p class="card-text">A platform for people to either join as a host or as a partyholic. A host has the ability to create an event with the number of tickets available. Partyholics are able to buy tickets to the events.</p>
        </div>
      </div>
    </div>
  </div>
</div>
