<div class="container">
  <!-- Projects -->
  <div class="projects">
    <div class="text">
      <h2>PROJECTS</h2>
      <hr>
    </div>
    <div class="row" style="width:1200px;">
      <div class="col-lg-4">
        <div class="card h-100">
          <a href="https://family-clan.herokuapp.com/" target="_blank"><img src="/family.png" style="width:95%" alt=""></a>
          <div class="card-body">
            <h4 class="card-title">
              <a href="https://family-clan.herokuapp.com/" target="_blank" style="color: white;">FAMILY CLAN</a>
              |
              <a href="https://github.com/DennisKimani/family.git" target="_blank" style="color: white;">GITHUB</a>
            </h4>
            <p class="card-text">We all come from families even if not all may have the privillage of knowing them. This is an a community where all the clans of the families are registered to everyone to view and update the members of members.</p>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="card h-100">
          <a href="https://fought.herokuapp.com/" target="_blank"><img src="/foughts.png" style="width:95%" alt=""></a>
          <div class="card-body">
            <h4 class="card-title">
              <a href="https://fought.herokuapp.com/" target="_blank" style="color: white;">FOUGHTS.KE.</a>
              |
              <a href="https://github.com/memetibryan/Foughts.ke.git" target="_blank" style="color: white;">GITHUB</a>
            </h4>
            <p class="card-text">A platform for people to either join as a host or as a partyholic. A host has the ability to create an event with the number of tickets available. Partyholics are able to buy tickets to the events.</p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 ">
        <div class="card h-100">
          <a href="https://shoe-distribution-dennis.herokuapp.com" target="_blank"><img src="/shoe.png" style="width:95%" alt=""></a>
          <div class="card-body">
            <h4 class="card-title">
              <a href="https://shoe-distribution-dennis.herokuapp.com" target="_blank" style="color: white;">SHOE-DISTRIBUTION</a>
              |
              <a href="https://github.com/DennisKimani/shoe_distribution.git" target="_blank" style="color: white;">GITHUB</a>
            </h4>
            <p class="card-text">A platform where people can view available stores to see the type of shoes which are sold or one can search a shoe and view which stores sell them.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 ">
        <div class="card h-100">
          <a href="https://question-a9360.firebaseapp.com/" target="_blank"><img src="/question.png" style="width:95%" alt=""></a>
          <div class="card-body">
            <h4 class="card-title">
              <a href="https://question-a9360.firebaseapp.com/" target="_blank" style="color: white;">QUESTIONS</a>
              |
              <a href="https://github.com/DennisKimani/question.git" target="_blank" style="color: white;">GITHUB</a>
            </h4>
            <p class="card-text">A platform for people to either join as a host or as a partyholic. A host has the ability to create an event with the number of tickets available. Partyholics are able to buy tickets to the events.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<footer>
  <div class="container">
    <div class="footer">
      <div class="column">
        <div class="col-md-4">
          <p>Nairobi, Kenya</p>
          <p>(+254) 799 670797</p>
          <p>Email: dennisngugi.dk@gmail.com</p>
        </div>
        <div class="col-md-5">
          <div class="source">
            <a href="https://github.com/DennisKimani" target="_blank"><img src="https://cdn0.iconfinder.com/data/icons/shift-logotypes/32/Github-64.png" alt="github"></a>
            <p>Reference to all my applications code.</p>
          </div>
        </div>
        <div class="col-md-3">
          <div class="col-md-4">
            <a href="https://www.linkedin.com/in/dennis-kimani-663831147/" target="_blank"><img src="https://cdn3.iconfinder.com/data/icons/free-social-icons/67/linkedin_circle_gray-48.png" alt="LinkedIn"></a>
            <p>LinkedIn</p>
          </div>
          <div class="col-md-4">
            <a href="https://twitter.com/colekimani1" target="_blank"><img src="https://cdn3.iconfinder.com/data/icons/free-social-icons/67/twitter_circle_gray-48.png" alt="Twitter"></a>
            <p>Twitter</p>
          </div>
          <div class="col-md-4">
            <a href="#" target="_blank"><img src="https://cdn3.iconfinder.com/data/icons/free-social-icons/67/google_circle_gray-48.png" alt="Google+"></a>
            <p>Google+</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
