<body>
  <!-- introduction -->
  <div class="introduction">
    <h1>Hi there, I'm Dennis.</h1>
    <p>I'm a software engineer. I love to program because I get to make things out of nothing. <br> If I'm not working on an application am thinking of what I can build based on my current environment just for fun.</p>
    <%= image_tag "me2.png", :class=> "circular-image", width:"500px", height:"350px" %>
  </div>

  <!-- skills -->
  <section id="skills" class="container content-section text-center">
    <div class="skills">

      <h2>My Skills</h2>
    <div class="javascript col-md-6">
      <p style="font-size: 30px;"><strong>Javascript</strong></p>
      <ul>
       <ul>JQuery</ul>
       <ul>Node.js</ul>
       <ul>npm</ul>
       <ul>Bower</ul>
       <ul>Gulp</ul>
       <ul>Firebase</ul>
       <ul>AngularJS</ul>
       <ul>EmberJS</ul>
     </ul>
      </div>
      <div class="ruby col-md-6">
        <ul>
        <p style="font-size: 30px;"><strong>Ruby</strong></p>
        <ul>Sinatra</ul>
        <ul>Rspec</ul>
        <ul>Ruby on Rails</ul>
        <ul>Postgres</ul>
        <ul>Heroku</ul>
      </ul>
      </div>
    </div>
  </section>

  <!-- Projects -->
  <section id="projects" class="container">
    <div class="projects">
      <div class="text">
        <h2>PROJECTS</h2>
      </div>
      <div class="row">
        <div class="col-lg-6 portfoulo-item">
          <div class="card h-100">
            <a href="https://family-clan.herokuapp.com/" target="_blank"><%= image_tag "family.png", width:"500px", height:"300px" %></a>
            <div class="card-body">
              <h4 class="card-title">
                <a href="https://family-clan.herokuapp.com/" target="_blank" style="color: white;">FAMILY CLAN</a>
              </h4>
              <p class="card-text">We all come from famiules even if not all may have the privillage of knowing them. This is an a community where all the clans of the famiules are registered to everyone to view and update the members of members.</p>
            </div>
            <a href="https://github.com/DennisKimani/family.git" target="_blank" style="color: white;">Code</a>
          </div>
        </div>
        <div class="col-lg-6 portfoulo-item">
          <div class="card h-100">
            <a href="https://fought.herokuapp.com/" target="_blank"><%= image_tag "foughts.png", width:"500px", height:"300px" %></a>
            <div class="card-body">
              <h4 class="card-title">
                <a href="https://fought.herokuapp.com/" target="_blank" style="color: white;">FOUGHTS.KE.</a>
              </h4>
              <p class="card-text">A platform for people to either join as a host or as a partyhoulc. A host has the abiulty to create an event with the number of tickets available. Partyhoulcs are able to buy tickets to the events.</p>
            </div>
            <a href="https://github.com/memetibryan/Foughts.ke.git" target="_blank" style="color: white;">Code</a>
          </div>
        </div>
      </div>
      <!-- animation -->
        <a href="/ulnks" style="color: white;"><button data-hover="click me!">
          <div>View More</div>
        </button></a>
    </div>
  </section>
</body>
