<body>
<div class="container">
  <div class="introduction">
    <h1>Hi there, I'm Dennis a full stack web developer. </h1>
  </div>
  <div class="column">
    <div class="col-md-5">
      <p>I love to program because I get to make things out of nothing. I'm a software engineer.</p>
    </div>
  </div>
</div>
</body>

<!-- style -->
<style media="screen">
body {
background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(https://images.pexels.com/photos/445628/pexels-photo-445628.jpeg?w=940&h=650&auto=compress&cs=tinysrgb) no-repeat center center fixed;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
color: white;
}
</style>
