
  <!-- skills -->
  <body>
    <div class="container">
    <div class="skills">
      <h2>My Skills</h2>
    <div class="javascript col-md-6">
      <p style="font-size: 30px;"><strong>Javascript</strong></p>
      <ul>
       <ul>JQuery</ul>
       <ul>Node.js</ul>
       <ul>AngularJS</ul>
       <ul>npm</ul>
       <ul>Bower</ul>
       <ul>Gulp</ul>
       <ul>Typescript</ul>
       <ul>EmberJS</ul>
       <ul>Firebase</ul>
     </ul>
      </div>
      <div class="ruby col-md-6">
        <ul>
        <p style="font-size: 30px;"><strong>Ruby</strong></p>
        <ul>Sinatra</ul>
        <ul>Rspec</ul>
        <ul>Ruby on Rails</ul>
        <ul>Postgres</ul>
        <ul>Heroku</ul>
      </ul>
      </div>
    </div>
  </div>
  </body>
