// Place all the styles related to the homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://images.pexels.com/photos/445628/pexels-photo-445628.jpeg?w=940&h=650&auto=compress&cs=tinysrgb") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-attachment: fixed;
  background-size: cover;

}
p{
  font-size: 20px;
}

.button1 {
  // #01B2FE
  background-color: white;
  color: black;
  border: none;
  border-radius: 12px;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  margin: 4px 2px;
  cursor: pointer;
}

.introduction{
  text-align: center;
  color: white;
}

.skills{
  padding-top: 50px;
  text-align: center;
  color: white;
}

.projects{
  width: 1200px;
  padding-top: 600px;
  padding-bottom: 15px;
  padding-left: 30px;
  color: white;
}

.text{
  text-align: center;
}

.portfolio-item {
  margin-bottom: 20px;
}

.card-img-top {
  width: 560px;
  height: 400px;
}

.more{
  text-align: center;
}
