// Place all the styles related to the links controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

p{
  font-size: 20px;
}

a{
  font-size: 20px;
}

.projects{
  width: 1200px;
  padding-right: 10px;
  color: white;
}

.text{
  text-align: center;
}

.portfolio-item {
  margin-bottom: 0px;
}

.card-img-top {
  width: 560px;
  height: 400px;
}
