<!DOCTYPE html>
<html>
  <head>
    <title>Dennis</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Fira+Sans" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Crimson+Text" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Asap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Libre+Baskerville|Lobster" rel="stylesheet">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </head>

  <body>
    <!-- navbar -->
    <div class="navbar">
      <div class="column">
        <div class="col-md-1">
          <a href="/" style="color:white;">HOME</a>
        </div>
        <div class="col-md-3">
          <div class="col-md-6">
            <a href="#skills" style="color:white;">My Skills</a>
          </div>
          <div class="col-md-6">
            <a href="/links" style="color:white;">Projects</a>
          </div>
        </div>
      </div>
    </div>

    <%= yield %>

    <!-- footer -->
    <footer>
      <div class="container">
        <div class="footer">
          <div class="column">
            <div class="col-md-4">
              <p>Nairobi, Kenya</p>
              <p>(+254) 799 670797</p>
              <p>Email: dennisngugi.dk@gmail.com</p>
            </div>
            <div class="col-md-5">
              <div class="source">
                <a href="https://github.com/DennisKimani" target="_blank"><img src="https://cdn0.iconfinder.com/data/icons/shift-logotypes/32/Github-64.png" alt="github"></a>
                <p>Reference to all my applications code.</p>
              </div>
            </div>
            <div class="col-md-3">
              <div class="col-md-4">
                <a href="https://www.linkedin.com/in/dennis-kimani-663831147/" target="_blank"><img src="https://cdn3.iconfinder.com/data/icons/free-social-icons/67/linkedin_circle_gray-48.png" alt="LinkedIn"></a>
                <p>LinkedIn</p>
              </div>
              <div class="col-md-4">
                <a href="https://twitter.com/colekimani1" target="_blank"><img src="https://cdn3.iconfinder.com/data/icons/free-social-icons/67/twitter_circle_gray-48.png" alt="Twitter"></a>
                <p>Twitter</p>
              </div>
              <div class="col-md-4">
                <a href="#" target="_blank"><img src="https://cdn3.iconfinder.com/data/icons/free-social-icons/67/google_circle_gray-48.png" alt="Google+"></a>
                <p>Google+</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>
