<!DOCTYPE html>
<html>
  <head>
    <title>Dennis</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Fira+Sans" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Crimson+Text" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Asap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Libre+Baskerville|Lobster" rel="stylesheet">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </head>

  <body>
    <!-- navbar -->
    <div class="navbar">
      <div class="column">
        <div class="col-md-1">
          <a href="/" style="color:white;">HOME</a>
        </div>
        <div class="col-md-3">
          <div class="col-md-6">
            <a href="/skills" style="color:white;">My Skills</a>
          </div>
          <div class="col-md-6">
            <a href="/links" style="color:white;">Projects</a>
          </div>
        </div>
      </div>
    </div>

    <%= yield %>

  </body>
</html>
